@model kyfelib.Article
@{
	//ViewBag.Title = Model.Locales[0].Name;
}

<div id="body">
    <section class="featured">
	    <div class="content-wrapper">
		    контент-теги статьи
		    @{
			    Html.RenderPartial("_Article", Model);
		    }
	    </div>
    </section>
</div>