@using kyfelib
@model ContentModel

<!-- Edit Form -->
<div class="modal hide fade" id="editForm">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>New article</h3>
	</div>
	<div class="modal-body">
		<p>
			<div class="btn-group" data-toggle="buttons-radio" id="editType">
				<button type="button" class="btn active" name="Type" value="Article">Article</button>
				<button type="button" class="btn" name="Type" value="Meditation">Meditation</button>
				<button type="button" class="btn" name="Type" value="Kriya">Kriya</button>
			</div>
			<div class="article-edit">
				<ul class="nav nav-tabs" id="langTab">
					@foreach (string locale in Enum.GetNames(typeof(Locale)))
	 {
						<li><a href="#@locale" data-toggle="tab"><strong>@locale</strong></a></li>
	 }
				</ul>
			</div>
			<div class="tab-content">
				@foreach (string locale in Enum.GetNames(typeof(Locale)))
	{
					<div class="tab-pane" id="@locale">
						<label>Title&nbsp;<input type="text" class="input-xlarge" name="Name" /></label>
						<label>Author&nbsp;<input type="text" class="input-xlarge" name="Author" /></label>
						<label>Text<textarea name="Text" rows="5"></textarea></label>
						<label class="checkbox">
							<input type="checkbox" name="Draft">Draft</label>
					</div>
	}
			</div>
		</p>
	</div>
	<div class="modal-footer">
		<input type="hidden" id="editId" value=""/>
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<button class="btn btn-primary" id="btnSave">Save changes</button>
	</div>
</div>
<!-- [Edit Form] -->